@charset "utf-8";
article header img {
    width: 70%;
    height: auto;
    padding-top: 2%;
    padding-bottom: 1%;
}
#carouselExampleIndicators1 .carousel-control-prev {


}
#carouselExampleIndicators1 {

}
#carouselExampleIndicators1 .carousel-indicators {

}
#carouselExampleIndicators1 .carousel-indicators .active {

}
body article br {
}
body article {
    clear: inherit;
}

body div {
    padding: 0%;
}







body p {
    background-color: #FF5555;
}
body article h2 {
    text-align: center;
    font-family: impact;
    color: #F0EEF7;
    background-color: #000000;
    font-size: 200%;
}
body article hr {
    color: #000000;
    width: 50%;
}
body {
    background-color: #010100;
}
.Footer {
    font-style: italic;
    text-align: center;
}
#carouselExampleIndicators1 {
    background-color: #AA3333;
}
#carouselExampleIndicators1 {

}

body article header {
    text-align: center;
    background-color: #cccccc;
}



.Footer {
    background-color: #000000;
    color: #FFFFFF;

}
#carouselExampleIndicators1 .carousel-indicators {

}
#carouselExampleIndicators1 .carousel-indicators {

}
.carousel-inner .carousel-item.active .d-block.mx-auto {
    padding-bottom: 3%;
}
