@charset "utf-8";
body {
    background-color: #000000;
    width: 100%;
}

 a:hover:not(.active) {
    background-color: #848383;
    color: white;
}


li {
    float: left;
    padding-right: 5%;
    padding-left: 5%;

}

article header img {
    width: 100%;
    height: auto;
    text-align: center;
}
body article {
    width: 100%;
}
.banner {
    text-align: center;
}
body div {
    width: 100%;
}
.menu {
    font-family: helvetica;
    clear: both;

}
.coheadingbanner {
    width: 100%;
    padding: 0%;
    height: auto;
}
.body {
}
.body div {
    background-color: black;
}
.menuhr {
    color: gray;
    clear: both;
    border-color: gray;
}
.Footer {
    font-style: italic;
    color: #ffffff;
    text-align: center;
    background-color: #1F2C4D;
}
.aboutus {
    width: 70%;
    height: auto;
    clear: both;
    padding-top: 3%;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}
.Container {
    display:flex;
    justify-content: center;
    text-align: center;
}
.btn {
	display:inline-block;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    line-height: 35px;
    text-decoration: none;
    margin-left: 5px;
	padding:2%;
    width:100%;
}
.btn-new{
	outline: 5px solid;
	outline-color: rgba(255,255,255,0.5);
	transition: all 1250ms cubic-bezier(0.19,1,0.22,1);
	padding-left:5%;
	padding-right:5%;
}
.btn-new:hover{
	letter-spacing: 15px;
	outline-color: #9F9F9F;
	outline-offset: 15px;
	color: #277CA2;
	max-width:300%;
}
.active {
    background-color: #F5F2F2;
    color: #000000;
	display:inline-block;
    cursor: pointer;
    font-size: 20px;
    line-height: 35px;
    text-decoration: none;
    margin-left: 5px;
    width:100%;
}
.buyimage {
    padding-left: 20%;
}
.sellimage {
    padding-left: 20%;
}
.buysellparagraph {
    font-family: helvetica;
    color: white;
    text-align: center;
    text-decoration: none;
}

.buyimage {
  position: relative;
  animation: buysellmove 5s infinite;
	animation-direction:alternate;
  animation-timing-function: ease-in-out;
}

@keyframes buysellmove {
  from {left: 0px;}
  to {left: 200px;}
}
.sellimage {
  position: relative;
  animation: buysellmove 5s infinite;
	animation-direction:alternate;
  animation-timing-function: ease-in-out;
}

@keyframes buysellmove {
  from {left: 0px;}
  to {left: 200px;}
}
.featured {
    width: 50%;
    min-height: 0%;
    padding-left: 30%;
    max-height: 5%;
}
.featuredparagraph {
}
.featuredparagraph {
    font-family: helvetica;
    font-size: 20px;
    color: WHITE;
    text-align: center;
}
.bredredsfeatured {
    width: 90%;
    height: auto;
    padding-left: 4%;
    padding-top: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
}
.pairsfeatured {
    width: 90%;
    height: auto;
    padding-left: 4%;
    padding-top: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
}
.bredblacksfeatured {
    width: 90%;
    height: auto;
    padding-top: 4%;
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 4%;
}
.featuredimg {
    padding-left: 15%;
}
.featuredgif {
}
