@charset "utf-8";
body div article {
    width: 100%;
    height: auto;
}
div article header {
    width: 100%;
    padding-top: 0%;
    padding-right: 25%;
    padding-bottom: 0%;
    height: auto;
    text-align: center;
    float: inherit;
}
div section article {
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    color: #4795FF;
    clear: both;
}
.replacements img {
    width: 33%;
    height: auto;
    float: right;
    padding-right: 2%;
}
.pairs img {
    width: 25%;
    height: auto;
    float: left;
    padding-left: 4%;
}
.bredcowsimage {
    width: 25%;
    float: left;
    padding-bottom: 2%;
    height: auto;
    padding-left: 4%;
}






.bannerpic {
    width: 100%;
    height: auto;
}
article {
    clear: both;
    text-align: center;



}



.bredheifers img {
    width: 25%;
    height: auto;
    float: right;
    padding-right: 4%;
}
.replacements img {
    width: 25%;
    float: right;
    height: auto;
    padding-right: 4%;
}




.bredcows {
    font-family: impact;
    text-align: center;
    font-size: 250%;
    color: #4795FF;

}
.bredheifers {
    color: #4795FF;
    font-family: impact;
    text-align: center;
    font-size: 250%;
}

.replacements {
    color: #4795FF;
    text-align: center;
    font-family: impact;
    font-size: 250%;
}
.pairs {
    font-family: impact;
    color: #4795FF;
    font-size: 250%;
    text-align: center;
}
.headerimg {
    clear: both;
    width: 100%;
    padding: inherit;
    height: auto;
}
