@charset "utf-8";
#carouselExampleIndicators1 {
    width: 100%;
    height: auto;
    padding-left: 0%;

}
body article h2 {
    text-align: center;
    font-family: impact;
    color: #F0EEF7;
    font-size: 250%;
    background-color: black;
}
article #carouselExampleIndicators1 .carousel-inner.offset-xl-0.col-xl-12 {
    padding-bottom: 10%;
}

#carouselExampleIndicators1 .carousel-indicators {
    text-align: center;
    padding-bottom: 3%;
    background-color: black;

}
.carousel-inner .carousel-item.active .d-block.mx-auto {
}

.carousel-inner .carousel-item.active .d-block.mx-auto {
    text-align: center;
}
#carouselExampleIndicators1 .carousel-control-prev .carousel-control-prev-icon {
    padding: 0%;
}
.carousel-inner.offset-xl-0.col-xl-12 .carousel-item .d-block.mx-auto {
    text-align: center;
    width: 85%;
}
.carousel-inner.offset-xl-0.col-xl-12 .carousel-item .carousel-caption {
    clear: both;


}
#carouselExampleIndicators1 .carousel-indicators li {

}
.hrarticle {


}
.carousel-inner.offset-xl-0.col-xl-12 .carousel-item .d-block.mx-auto {
}
.body .body.div article {
}
